<div class="overlay" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="logo-container">
    <div class="logo">
        <img src="../../images/logo.png" alt="logo">
    </div>
</div>

<div class="table">
    <div class="buttons">
        <button type="reset" (click)="logout()">Kijelentkezés</button>
    </div>

    <div class="switch-container">
        <mat-icon fontIcon="people" class="switch-icon" (click)="switchTable(true)"></mat-icon>
        <mat-icon fontIcon="quiz" class="switch-icon" (click)="switchTable(false)"></mat-icon>
    </div>

    <div class="container">
        <table mat-table [dataSource]="users" *ngIf="usersTable; else quizzesTable">
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>E-mail</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="nickname">
                <th mat-header-cell *matHeaderCellDef>Játékosnév</th>
                <td mat-cell *matCellDef="let element">{{element.nickname}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="delete" (click)="deleteUser(element._id, i)"></mat-icon></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: usersColumns"></tr>
        </table>
    </div>
</div>

<!-- Megcsinálni, hogy ne egy sorban legyenek a kérdések -->

<ng-template #quizzesTable>
    <table mat-table [dataSource]="quizzes">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Cím</th>
            <td mat-cell *matCellDef="let element">{{element.title}}</td>
        </ng-container>

        <ng-container matColumnDef="questions">
            <th mat-header-cell *matHeaderCellDef>Kérdés</th>
            <td mat-cell *matCellDef="let element">{{element.questions}}</td>
        </ng-container>

        <ng-container matColumnDef="answers1">
            <th mat-header-cell *matHeaderCellDef>Válasz #1</th>
            <td mat-cell *matCellDef="let element">{{element.answers1}}</td>
        </ng-container>

        <ng-container matColumnDef="answers2">
            <th mat-header-cell *matHeaderCellDef>Válasz #2</th>
            <td mat-cell *matCellDef="let element">{{element.answers2}}</td>
        </ng-container>

        <ng-container matColumnDef="answers3">
            <th mat-header-cell *matHeaderCellDef>Válasz #3</th>
            <td mat-cell *matCellDef="let element">{{element.answers3}}</td>
        </ng-container>

        <ng-container matColumnDef="answers4">
            <th mat-header-cell *matHeaderCellDef>Válasz #4</th>
            <td mat-cell *matCellDef="let element">{{element.answers4}}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="delete" (click)="deleteQuiz(element._id, i)"></mat-icon></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="quizzesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: quizzesColumns"></tr>
    </table>
</ng-template>