.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40404077;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo {
    max-width: 600px;
    padding: 50px;
    position: absolute;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}


.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 250px;
    padding: 20px;
    gap: 10px;

    background-color: rgba(140, 19, 149, 0.7);
    background-image: linear-gradient(0, rgba(140, 19, 149, 0.7) 0%, rgba(189, 133, 193, 0.7) 100%);
    border: 5px solid rgb(68, 5, 73);
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    
    border: 2px solid rgb(195, 150, 206);
    border-radius: 5px;
    background-color: rgb(205, 101, 231);
    background-image: linear-gradient(0, rgb(205, 101, 231) 0%, rgb(208, 125, 229) 60%, rgb(227, 183, 237) 100%);

    cursor: pointer;
    font-weight: bold;
    color: white;
}
button:hover {
    background-color: rgb(204, 118, 225);
    background-image: linear-gradient(0, rgb(204, 118, 225) 0%, rgb(226, 178, 238) 80%, rgb(233, 208, 239) 100%);
    border-color: rgb(227, 200, 233);
}

b {
    font-size: 1.3em;
    display: inline-block;
    
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

  
.table {
    width: 25%;
    max-width: 250px;

    height: calc(7 * 3.715em);
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    
    border: 5px solid rgb(68, 5, 73);
    border-radius: 5px;
}

table {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(0, rgba(140, 19, 149, 0.7) 0%, rgba(189, 133, 193, 0.7) 100%);
}

td {
    text-align: center;
    font-size: 1.5em;
    
    width: 25%;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr:hover {
    background-image: linear-gradient(0, rgb(228, 115, 236) 0%, rgb(189, 133, 193) 100%);
}
.quiz-row:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(189, 133, 193); 
}
::-webkit-scrollbar-thumb {
    background: #6d0557; 
}
::-webkit-scrollbar-thumb:hover {
    background: #b71895; 
}

.selected-quiz {
    font-weight: bold;
}