.game-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    height: 60vh;
    left: calc(5px + 0.5vw);
    width: calc(100% - 10px - 1vw);
    max-width: 1200px;
}

.game-header {
    position: relative;
    float: left;
    top: 5px;
    left: 5px;
    width: 20%;

    background-color: rgb(68, 5, 73);
    border: 5px solid rgb(68, 5, 73);
    border-radius: 5px 5px 0 0;

    display: flex;
    gap: 5px;
}

.game-header > div {
    position: relative;
    bottom: 0;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    height: 1em;
    padding: 1em;
    
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(0, rgba(140, 19, 149, 0.7) 0%, rgba(189, 133, 193, 0.7) 100%);

    color: rgb(236, 236, 236);
}
.game-title {

    font-size: 2em;
    text-decoration: underline;
    color: transparent;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(1deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
}
  
.question-container {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: auto;

    height: auto;
    overflow-y: auto;
    text-align: center;
    line-height: 2em;
    
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(0, rgba(140, 19, 149, 0.7) 0%, rgba(189, 133, 193, 0.7) 100%);
    border: 5px solid rgb(68, 5, 73);
    border-radius: 5px;
}
  
.question {
    font-size: 1.75em;
    color: transparent;
    background: rgb(255, 255, 255);
    background-image: linear-gradient(1deg, rgb(218, 218, 218) 0%, rgb(255, 255, 255) 100%);
    background-clip: text;
}
  
.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    
    max-height: 40%;
    height: 40vh;
    width: 70vw;

    margin: 2vw auto;
}
  
.answer {
    flex: 1 0 calc(46% - 10px);
    height: 15vw;
    max-height: 15vh;
    width: 30vw;
    max-width: calc(46% - 10px);
    margin: 5px;

    background-image: linear-gradient(0, rgba(87, 60, 89, 0.8) 0%, rgba(205, 179, 207, 0.8) 100%);
    border: 5px solid rgb(79, 42, 82);
    border-radius: 35px;

    font-size: 1.25em;
    color: white;
}
.answer:hover {
    background-color: rgb(188, 102, 155);
    cursor: pointer;
}
.answer > div {
    position: relative;
    top: -100%;
    left: 0;
    padding: 0.5em;
    float: left;

    background-image: linear-gradient(0, rgba(87, 60, 89, 0.8) 0%, rgba(205, 179, 207, 0.8) 100%);
    border-color:  rgb(79, 42, 82);
    border-style: solid;
    border-width: 0 5px 5px 0;
    border-radius: 30px 0;
}
.answer > span {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}